<mat-toolbar color="primary">
    <a mat-button routerLink="/" class="navbar-brand">Threads of Fate</a>
    <span class="example-spacer"></span>
    <div *ngIf="!showAuthSection">
      <a mat-button routerLink="/dashboard">Dashboard</a>
      <a mat-button routerLink="/">Login</a>
      <a mat-button routerLink="/register">Register</a>
    </div>
    <div *ngIf="showAuthSection">
      <a mat-button routerLink="/profile">Profile</a>
      <a mat-button routerLink="/admin">Administration</a>
      <a mat-button (click)="logout()">Logout</a>
    </div>
  </mat-toolbar>
  