<mat-toolbar color="primary">
    <a mat-button routerLink="/home" class="navbar-brand">MiApp</a>
    <span class="example-spacer"></span>
    <div *ngIf="!showAuthSection">
      <a mat-button routerLink="/dashboard">Dashboard</a>
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/register">Register</a>
    </div>
    <div *ngIf="showAuthSection">
      <a mat-button routerLink="/profile">Perfil</a>
      <a mat-button routerLink="/admin">Administración</a>
      <a mat-button (click)="logout()">Cerrar Sesión</a>
    </div>
  </mat-toolbar>
  