<h2 mat-dialog-title>Reauthenticate</h2>
<mat-dialog-content>
  <form [formGroup]="reauthForm">
    <mat-form-field appearance="fill">
      <mat-label>Current Email</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="reauthForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="reauthForm.get('email')?.hasError('email')">
        Enter a valid email
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Current Password</mat-label>
      <input matInput formControlName="password" type="password">
      <mat-error *ngIf="reauthForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="reauthForm.value" cdkFocusInitial>Reauthenticate</button>
</mat-dialog-actions>


