.welcome-container {
  display: flex;
  min-height: 100vh;
}

.welcome-img {
  width: 100%;
}
  
.left-column, .right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.left-column {
  flex: 65%;
  background-image: linear-gradient(to right, #FAFAFA, #EAEAEA);
  padding: 20px;
}

.left-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
}
  
.right-column {
  flex: 35%;
  padding: 20px;
}

.right-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
}
  
.logo {
  max-width: 100px;
  margin-bottom: 20px;
}
  
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
  
.footer, .additional-links {
  text-align: center;
  margin-top: 20px;
}
  
.footer a, .additional-links a {
  color: #007bff;
  text-decoration: none;
}
  
@media (max-width: 768px) {
  .welcome-container {
    flex-direction: column;
  }
  
  .left-column {
    display: none;
  }
  
  .right-column {
    max-width: 100%;
    padding: 20px;
    height: 75vh;
  }
  
  .logo, .footer, .additional-links {
    width: 100%;
  }
}
  