.body {
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/textura.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.center-container {
  border: 4px rgba(29, 29, 27, .15) solid;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1082px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}

.welcome-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.welcome-img {
  width: 60%;
  padding-bottom: 16px;
  border-radius: 12px;
}
  
.left-column, .right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.left-column {
  flex: 1;
  padding: 20px;
  max-width: 65%;
  box-sizing: border-box;
}

.left-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.carousel-slide {
  text-align: center;
}

.carousel-slide img {
  max-width: 100%;
  max-height: 100px;
  margin-bottom: 20px;
}


.carousel-indicators {
  text-align: center;
  padding-top: 20px;
}

.carousel-indicators span {
  height: 15px;
  width: 15px;
  margin: 0 7px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.carousel-indicators span.active {
  background-color: #717171;
}
  
.right-column {
  flex: 1;
  padding: 20px;
  max-width: 35%;
  box-sizing: border-box;
}

.right-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
  
.logo {
  max-width: 100px;
  margin-bottom: 20px;
}
  
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
  
.footer, .additional-links {
  text-align: center;
  margin-top: 20px;
}
  
.footer a, .additional-links a {
  color: #007bff;
  text-decoration: none;
}

@media (max-width: 1360px) {
  .center-container {
    transform: translate(-50%, -50%) scale(1);
  }
}
  
@media (max-width: 1200px) {
  .center-container {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

@media (max-width: 1024px) {
  .center-container {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media (max-width: 910px) {
  .center-container {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

@media (max-width: 768px) {
  .center-container {
    transform: translate(-50%, -50%) scale(1);
    width: 95%;
    height: auto;
    border: none;
    box-shadow: none;
    padding: 10px;
    border-radius: 0;
  }

  .welcome-container {
    flex-direction: column;
    align-items: center;
  }

  .left-column {
    display: none;
  }

  .right-column {
    max-width: 100%;
    padding: 10px;
  }

  .right-column-container {
    padding: 10px;
  }

  .welcome-img {
    width: 80%;
  }

  .logo {
    max-width: 80px;
  }

  .footer, .additional-links {
    margin-top: 10px;
  }
}

  