<div *ngIf="!gameFinished">
  <div *ngIf="currentQuestion" class="game-thematic-container">
    <mat-card class="question-card">
      <mat-card-title class="mat-title">{{ currentQuestion.questionText }}</mat-card-title>
      <div  class="mat-image-container">
        <img class="mat-image" mat-card-image [src]="currentQuestion.imageUrl" alt="Question image">
      </div>
      <mat-card-content>
        <div class="options-container">
          <app-option-card 
            *ngFor="let option of currentQuestion.options; let i = index" 
            [option]="option" 
            [isLeft]="i === 0" 
            [isRight]="i === 1"
            (optionSelected)="onOptionSelected(option)">
          </app-option-card>
        </div>
      </mat-card-content>
      <mat-card-actions class="score-container">
        <p>Score: {{ score }}</p>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="!currentQuestion" class="loading-container">
    <p>Loading question...</p>
  </div>
</div>

<div *ngIf="gameFinished" class="final-score-container">
  <mat-card class="final-score-card">
    <mat-card-content class="final-score-content">
      <h2>Your final score is: {{ score }}</h2>
    </mat-card-content>
    <mat-card-actions class="final-score-actions">
      <button mat-raised-button color="primary" (click)="restartGame()">Try again</button>
      <button mat-raised-button color="accent" (click)="goToDashboard()">New game</button>
    </mat-card-actions>
  </mat-card>
</div>


