.game-thematic-container, .final-score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 64px); /* Ajuste para la altura del encabezado */
  box-sizing: border-box;
  background-image: linear-gradient(to right, #FAFAFA, #EAEAEA);
}

.question-card {
  width: 100%;
  min-height: calc(100vh - 64px); 
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.mat-title {
  background-color: white;
  padding: 2rem 5rem;
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 2rem); 
  letter-spacing: -0.063rem;
}

.mat-image-container {
  background-image: linear-gradient(to right, #FAFAFA, #EAEAEA);
  width: 100%;
  padding: 1em 0;
  max-height: 480px;
}

.mat-image {
  max-width: 700px;
  min-height: 480px;
}

.options-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.score-container {
  justify-content: center;
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 2rem); 
  letter-spacing: -0.063rem;
  padding: 10px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.final-score-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.final-score-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .game-thematic-container, .final-score-container .question-card {
    min-height: calc(100vh - 56px);
    background-image: none;
  }
  
  .mat-image {
    max-width: 380px;
    min-height: 250px;
  }

  .mat-title {
    padding: 2rem 2rem;
  }
}
