.body {
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/textura.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.center-container {
  border: 4px rgba(29, 29, 27, .15) solid;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1082px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}

.full-height {
  height: 100%;
  width: 95%;
}

.tab-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tab-content-inner {
  margin-top: 20px;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 50%;
}

.profile-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 20px;
}

.profile-field {
  width: 100%;
  margin-bottom: 15px;
}

.table-container {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.click-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  display: block;
}

mat-table {
  width: 1200px;
  max-width: 1200px;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}

mat-header-cell {
  background-color: #f4f4f4 !important;
  color: #333;
  font-weight: bold;
}

mat-row,
mat-header-row {
  display: table-row;
}

mat-cell,
mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding-top: 20px;
  padding-bottom: 20px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}

.table-container a {
  color: #007bff;
  text-decoration: none;
}

.table-container a:hover {
  text-decoration: underline;
}

.edition-question-container {
  max-width:400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background: #fff;
}

.action-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button[color="primary"] {
  background-color: #007bff;
  color: white;
}

button[color="primary"]:hover {
  background-color: #3b5168;
}

button[color="warn"] {
  background-color: #f44336;
  color: white;
}

button[color="warn"]:hover {
  background-color: #d32f2f;
}

.edition-question-form {
  display: flex;
  flex-direction: column;
}

ng-template {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 1360px) {
  .center-container {
    transform: translate(-50%, -50%) scale(1);
  }
}
  
@media (max-width: 1200px) {
  .center-container {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

@media (max-width: 1024px) {
  .center-container {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media (max-width: 910px) {
  .center-container {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

@media (max-width: 768px) {
  .header {
      width: 95%;
  }

  .center-container {
    transform: translate(-50%, -50%) scale(1);
    width: 95%;
    height: auto;
    border: none;
    box-shadow: none;
    padding: 10px;
    border-radius: 0;
  }

  .profile-form {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }
}
