.option-card {
    flex-basis: calc(50% - 10px);
    margin: 5px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.option-card:hover {
    transform: scale(1.05);
}

.card-content {
    padding: 40px 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-weight: 700;
    font-size: clamp(1.5rem, 2.5vw, 2rem); 
    letter-spacing: -0.063rem;
    min-width: 500px;
}

.left-option mat-card {
    background-color: #ff5252;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -6px 0px 0px inset;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.right-option mat-card {
    background-color: #2196f3;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -6px 0px 0px inset;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .card-content {
        min-width: 80px;
        min-height: 60px;
    }
    
    .option-card {
        padding: 0px;
    }
  }