<div style="margin-left: auto; margin-right: auto">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div>
        <label for="email">Email: </label>
        <input type="email" formControlName="email" />
        <div *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
          <span style="color: red" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</span>
          <span style="color: red" *ngIf="loginForm.get('email')?.errors?.['email']">Email not in a valid format.</span>
        </div>
      </div>
      <div>
        <label for="password">Password: </label>
        <input type="password" formControlName="password" />
        <div *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
          <span style="color: red" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
          <span style="color: red" *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</span>
          <span style="color: red" *ngIf="loginForm.get('password')?.errors?.['maxlength']">Password cannot be more than 16 characters long.</span>
        </div>
      </div>
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
  