.body {
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/textura.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.center-container {
  border: 4px rgba(29, 29, 27, .15) solid;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1082px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}

.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.lobby-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.lobby-header h1 {
  margin: 0 auto;
  position: static;
  transform: none;
  text-align: center;
}

.lobby-header button {
  flex-shrink: 0;
}

.lobby-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.participant-list, .game-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.participant-list {
  width: 30%;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-right: 2%;
}

.game-selection {
  width: 68%;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.participant-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  width: 100%;
  padding: 0;
}

.carousel {
  display: none;
}

.participant-grid li, .empty-slot  {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.host-icon {
  font-size: 16px;
  width: 24px;
  height: 24px;
}

.remove-participant-btn {
  margin-left: auto;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #ff6347;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.remove-participant-btn:hover {
  background-color: #ff6347;
  color: white;
}

.remove-participant-btn:focus, .remove-participant-btn:active {
  outline: none;
}

.empty-slot {
  color: #cccccc;
  font-style: italic;
}

.game-selection-solo {
  width: 90%;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.solo-img {
  max-width: 80%  !important;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.game-card {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  border: 2px solid transparent;
}

.game-card:hover {
  transform: scale(1.05);
}

h3 {
  margin: 0;
  font-weight: 500;
}

.game-card.selected {
  border-color: #5c6bc0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.game-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

button {
  background-color: #5c6bc0;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.start-button {
  margin-top: 20px;
}

button:hover {
  background-color: #3949ab;
}

.join-room-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #f6ffa1;
  margin-bottom: 20px;
}

.join-room-text {
  margin: 0 10px 0 0;
  font-size: 18px;
}

.room-code-container {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.room-code {
  font-weight: bold;
  padding: 10px;
}

.is-me .participant-name {
  font-weight: bold;
  color: #4CAF50;
}

@media (max-width: 1360px) {
  .center-container {
    transform: translate(-50%, -50%) scale(1);
  }
}
  
@media (max-width: 1200px) {
  .center-container {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

@media (max-width: 1024px) {
  .center-container {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media (max-width: 910px) {
  .center-container {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

@media (max-width: 768px) {
  .center-container {
    transform: translate(-50%, -50%) scale(1);
    width: 95%;
    border: none;
    box-shadow: none;
    padding: 10px;
    border-radius: 0;
  }

  .lobby-columns {
    flex-direction: column;
  }

  .participant-list, .game-selection {
    width: 90%;
    margin-bottom: 20px;
    margin-right: 0%;
  }

  .games-grid {
    display: none;
  }

  .participant-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .game-card {
    padding: 8px;
  }

  .game-card img {
    max-width: 100%;
    height: auto;
  }

  .join-room-container {
    flex-direction: column;
    text-align: center;
    padding: 15px;
    width: 90%;
  }

  .join-room-text {
    margin: 0 0 10px 0;
    font-size: 16px;
  }

  .room-code-container {
    padding: 10px;
    width: 80%;
    justify-content: center;
  }

  .room-code {
    font-size: 16px;
    padding: 10px;
  }

  .carousel {
    display: block;
  }

  h2 {
    margin: 0;
  }

  .game-selection h2 {
    padding-bottom: 20px;
  }

  .game-selection {
    margin-bottom: 0;
  }

  .carousel-slide img {
    max-width: 100%;
    max-height: 100px;
  }

  .carousel-indicators {
    text-align: center;
    padding-top: 20px;
  }

  .carousel-indicators span {
    height: 15px;
    width: 15px;
    margin: 0 7px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .carousel-indicators span.active {
    background-color: #717171;
  }

  .carousel-slide {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
    border: 2px solid transparent;
  }
    
  .carousel-slide.selected {
    border-color: #5c6bc0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}