<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="register-form">

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="registerForm.get('email')?.errors?.['required']">
          Email is required.
        </mat-error>
        <mat-error *ngIf="registerForm.get('email')?.errors?.['email']">
          Email is not valid.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="registerForm.get('password')?.errors?.['required']">
          Password is required.
        </mat-error>
        <mat-error *ngIf="registerForm.get('password')?.errors?.['minlength']">
          Password must be at least 8 characters long.
        </mat-error>
        <mat-error *ngIf="registerForm.get('password')?.errors?.['maxlength']">
            Password must be less than 20 characters long.
        </mat-error>
      </mat-form-field>
      
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
        Register
      </button>
    </form>
  </div>
  