<div class="dashboard-container">
  <h1>Welcome to the Dashboard</h1>
  
  <input [(ngModel)]="username" placeholder="Enter your username" required>
  <button *ngIf="isLoggedIn()" mat-raised-button color="primary" (click)="navigateToLobby('create')">Create Room</button>
  
  <div class="join-room">
    <input [(ngModel)]="roomCode" placeholder="Enter Room Code">
    <button mat-raised-button color="accent" [disabled]="!roomCode.trim()" (click)="navigateToLobby('join')">Join Room</button>
  </div>
  
  <button mat-raised-button color="secondary" (click)="navigateToLobby('solo')">Play Solo Game</button>
  <p>Username: {{username || 'No username selected'}}</p>
</div>
