<div class="body">
  <div class="center-container">
    <div class="header">
      <app-header></app-header>
    </div>
    <div class="dashboard-container">
      <h2>Welcome to the Dashboard</h2>
      
      <form [formGroup]="form" (ngSubmit)="navigateToLobby('join')" class="dashboard-form">
    
        <mat-form-field appearance="fill">
          <mat-label>Enter your username</mat-label>
          <input matInput formControlName="username" required>
          <mat-error *ngIf="form.get('username')?.hasError('required')">Username is required.</mat-error>
          <mat-error *ngIf="form.get('username')?.hasError('maxlength')">Username cannot be more than 20 characters.</mat-error>
        </mat-form-field>
    
        <button *ngIf="isLoggedIn()" mat-raised-button color="primary" type="button" (click)="navigateToLobby('create')">Create Room</button>
        
        <mat-form-field appearance="fill">
          <mat-label>Enter Room Code</mat-label>
          <input matInput formControlName="roomCode">
          <mat-error *ngIf="form.get('roomCode')?.hasError('maxlength')">Room code cannot be more than 20 characters.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Join Room</button>
        
        <button mat-raised-button color="secondary" type="button" (click)="navigateToLobby('solo')">Play Solo Game</button>
        
        <p>Username: {{ form.get('username')?.value || 'No username selected' }}</p>
      </form>
    </div>
  </div>
</div>





